*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html , body {
height: 100%;
width: 100%;
}

#nav{
    height: 145px;
    width:100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 80px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
    text-decoration: none;
    backdrop-filter: blur(2px);

}

#nav h4 a {
    text-decoration: none;
    color: rgb(141, 75, 241);
}

.navlinks:hover{
  color: red;
}

#nav img{
    height: 60px;
    border: 3px solid rgb(12, 11, 11);
    border-radius: 100px;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(33, 24, 24, 0.37);
}

#page1{
    height:100vh;
    width:100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

#page1 h2{
    
    font-size: 50px;
    color: #3086c0;
    font-weight: 600;
    position: relative;
    margin-top: 150px;
}
#page1 a{
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border: 4px solid rgb(10, 10, 10);
    padding: 14px 70 70px;
    border-radius: 50px;
    margin-top: 20px;

}
#page1 a h4{
    padding: 8px 40px;
    color:rgb(112, 48, 238);
    font-weight: 800;
}
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  /* #page3 > p {
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
  }
  
  #page3 img {
    position: absolute;
    height: 60px;
  }
  #page3 #colon1 {
    left: 15%;
    top: 25%;
  }
  #page3 #colon2 {
    bottom: 30%;
    right: 15%;
  } */
  .container1{
      background-color: black;
      color: white;
    }

  /* New CSS starts here */
  #couple1{
    display: flex;
    justify-content: space-between;
  }
  #card1{
    margin-left: 20vw;
    height: 50vh;
  }
  #card2{
    margin-right: 20vw;
    height: 50vh;
  }

  #couple2{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
  }
  #card3{
    margin-left: 20vw;
    height: 50vh;
  }
  #card4{
    margin-right: 20vw;
    height: 50vh;
  }

  #couple3{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    padding-bottom: 10vh;
  }
  #card5{
    margin-left: 20vw;
    height: 50vh;
  }
  #card6{
    margin-right: 20vw;
    height: 50vh;
  }
/* New footer css */
  footer{
    bottom: 0;
    left: 0;
    width: 100vw;
    height:20vh;
    padding: 0 60px;
    color: #16a085;
    border-top: 2px solid grey;
    }
    #yt{
      font-size: 30px;
      color: red;
      margin: 1px;
      padding: 1px;
    }
    #insta{
      font-size: 30px;
      color: rgb(205, 16, 219);
      margin: 1px;
      padding: 1px;
    }
    #fb{
      font-size: 30px;
      color: rgb(20, 50, 216);
      margin: 1px;
      padding: 1px;
    }
    #twit{
      font-size: 30px;
      color: rgb(16, 205, 212);
      margin: 1px;
      padding: 1px;
    }
    #discord{
      font-size: 30px;
      color: rgb(106, 102, 102);
      margin: 1px;
      padding: 1px;
    }